# Introduktion till Pandas
I den här notebooken kommer vi att gå igenom grunderna i Pandas, fokuserat på `Series` och `DataFrame`.

## Pandas Series

In [9]:
import pandas as pd

# Skapar en Series
data = [1, 3, 5, 7, 9]
ser = pd.Series(data)
ser

0    1
1    3
2    5
3    7
4    9
dtype: int64

## Indexering och urval i Series

In [2]:
# Hämta elementet på index 2
element = ser[2]
element

5

## Pandas DataFrame

In [3]:
# Skapar en DataFrame
data = {
    'År': [2019, 2020, 2021, 2022],
    'Intäkter': [10, 20, 30, 40]
}
df = pd.DataFrame(data)
df

     År  Intäkter
0  2019        10
1  2020        20
2  2021        30
3  2022        40

In [15]:
new_data = [[1,2,3],[4,5,6],[7,8,9]]

df_2 = pd.DataFrame(new_data, columns=['ålder', 'läng','betyg'])
df_2

   ålder  läng  betyg
0      1     2      3
1      4     5      6
2      7     8      9

## Indexering och urval i DataFrame

In [22]:
# Efter kolumnnamn
# df['År']

# Efter radindex
# df.iloc[0]


# # Slice
df[0:2]

     År  Intäkter  Nytt värde
0  2019        10         100
1  2020        20         200

## Grundläggande operationer med DataFrame

In [31]:
# Lägger till en ny kolumn
df['Nytt värde'] = [100, 200, 300, 222]
# df['Nytt värde'].dtype 
# df['År'].dtype

# Filtrera ut rader
filtered_df = df[df['Intäkter'] > 20]
filtered_df

     År  Intäkter  Nytt värde
2  2021        30         300
3  2022        40         222